{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 2
        }
      ],
      ["@babel/preset-typescript"],
      ["@babel/preset-react", {
          "isTSX": true
      }]
      
    ]
  }